
.App {
  text-align: center;
  display: flex;
  flex-direction: column; 
}

img {
  border-radius: 2%;
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 400px;
}

img:hover {
  opacity: 0.4;
  color: black;
/*   border-radius: 20%; */    /* this doesn't work, find other solution */
}

.image-container {
  position: relative;
}

/* .image-container:hover {
  background: rgba(0, 0, 0, 0.5);
} */

.favorite-button {
  position: absolute;
  top: 70%;
 left: 25%; 
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid white;
  display: none;
}

.image-info {
  position: absolute;
  top: 30%;
  /* left: 50%; */
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: none;
}

.image-container:hover .favorite-button,
.image-container:hover .image-info {
  display: block;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-evenly;
}


/* 

 .App {
  text-align: center;
  display: flex;
  flex-direction: column; 
}

img {
  border-radius: 2%;
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 400px;
}

img:hover {
  opacity: 0.4;
  color: black;
/*   border-radius: 20%; */    /* this doesn't work, find other solution */

/*
}

.image-container {
  position: relative;
}

.image-container:hover {
  background: rgba(0, 0, 0, 0.5);
}

.favorite-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid white;
  display: none;
}


.image-container:hover .favorite-button {
  display: block;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-evenly;
}


 */
